@reference "../../../styles/globals.css";

.documentTable tbody td {
  padding: 5px 10px 5px 12px;
  box-sizing: border-box;
  max-width: 200px;
}
.documentTable thead td {
  padding: 0px 10px 0px 12px;
  box-sizing: border-box;
  max-width: 200px;
}
.actionIconWrapperList {
  @apply !h-6 !w-6 rounded-md !border-none !p-1 hover:!bg-state-base-hover;
}
.actionIconWrapperDetail {
  @apply !border-[0.5px] !border-components-button-secondary-border !bg-components-button-secondary-bg !p-2 shadow-xs shadow-shadow-shadow-3 hover:!border-components-button-secondary-border-hover hover:!bg-components-button-secondary-bg-hover;
}
.actionItem {
  @apply mx-1 flex h-9 w-[calc(100%-8px)] cursor-pointer items-center gap-2 rounded-lg border-none bg-transparent px-3 py-2 text-left hover:bg-state-base-hover;
}
.deleteActionItem {
  @apply hover:!bg-state-destructive-hover;
}
.actionName {
  @apply text-sm text-text-secondary;
}
.addFileBtn {
  @apply mt-4 w-fit border-[0.5px] border-components-button-secondary-border !text-[13px] font-medium;
}
.plusIcon {
  @apply mr-2 h-4 w-4 stroke-current stroke-[1.5px];
}
.emptyWrapper {
  @apply flex h-full items-center justify-center;
}
.emptyElement {
  @apply box-border h-fit w-[560px] rounded-2xl border-divider-subtle bg-components-panel-on-panel-item-bg px-5 py-4;
}
.emptyTitle {
  @apply font-semibold text-text-secondary;
}
.emptyTip {
  @apply mt-2 text-sm font-normal text-text-primary;
}
.emptySymbolIconWrapper {
  @apply mb-2 flex h-[44px] w-[44px] items-center justify-center rounded-lg border border-solid border-components-button-secondary-border;
}
.commonIcon {
  @apply inline-block h-4 w-4 align-middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.actionIcon {
  @apply bg-gray-500;
  mask-image: url(~@/assets/action.svg);
}
.pdfIcon {
  background-image: url(~@/assets/pdf.svg);
}
.jsonIcon {
  background-image: url(~@/assets/json.svg);
}
.htmlIcon {
  background-image: url(~@/assets/html.svg);
}
.txtIcon {
  background-image: url(~@/assets/txt.svg);
}
.markdownIcon {
  background-image: url(~@/assets/md.svg);
}
.mdIcon {
  background-image: url(~@/assets/md.svg);
}
.xlsIcon {
  background-image: url(~@/assets/xlsx.svg);
}
.xlsxIcon {
  background-image: url(~@/assets/xlsx.svg);
}
.csvIcon {
  background-image: url(~@/assets/csv.svg);
}
.docIcon {
  background-image: url(~@/assets/doc.svg);
}
.docxIcon {
  background-image: url(~@/assets/docx.svg);
}
.statusItemDetail {
  @apply mr-2 inline-flex items-center rounded-lg border-[0.5px] border-components-button-secondary-border py-2 pr-2 pl-2.5 shadow-xs shadow-shadow-shadow-3 backdrop-blur-[5px];
}
.tdValue {
  @apply overflow-hidden text-sm text-ellipsis whitespace-nowrap;
}
.delModal {
  background:
    linear-gradient(180deg, rgba(217, 45, 32, 0.05) 0%, rgba(217, 45, 32, 0) 24.02%), #f9fafb;
  box-shadow:
    0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  @apply rounded-2xl p-8;
}
.warningWrapper {
  box-shadow:
    0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  background: rgba(255, 255, 255, 0.9);
  @apply mb-3 flex h-12 w-12 items-center justify-center rounded-xl border-[0.5px] border-gray-100;
}
.warningIcon {
  @apply h-[22px] w-[22px] fill-current text-red-600;
}
