.boxShodow {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.bgGrayColor {
  background-color: #F9FAFB;
}

.headerBg {
  height: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.formLabel {
  width: 120px;
  margin-right: 8px;
}

.customBtn {
  width: auto;
}
