.playIcon {
  background-image: url(/assets/play.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.pauseIcon {
  background-image: url(/assets/pause.svg);
  background-position: center;
  background-repeat: no-repeat;
}
