.playIcon {
  background-image: url(~@/app/components/develop/secret-key/assets/play.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.pauseIcon {
  background-image: url(~@/app/components/develop/secret-key/assets/pause.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.loader {
  width: 16px;
  height: 16px;
  border: 5px dotted #667085;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 