@reference "../../../styles/globals.css";

.actionItem {
  @apply mx-1 flex h-9 cursor-pointer items-center gap-2 rounded-lg px-3 py-2;
}

.actionName {
  @apply text-sm text-text-secondary;
}

.commonIcon {
  @apply inline-block h-4 w-4 align-middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.actionIcon {
  @apply bg-gray-500;
  mask-image: url(~@/assets/action.svg);
}

body .btn[data-popup-open],
body .btn.open,
body .btn:hover {
  background: url(~@/assets/action.svg) center center no-repeat transparent;
  background-size: 16px 16px;
}

body .btn:hover {
  background-color: #f2f4f7;
}

.deleteActionItem:hover .deleteActionItemChild {
  @apply text-red-500;
}
