@media (min-width: 1624px) {
  .appList {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}

@media (min-width: 1300px) and (max-width: 1624px) {
  .appList {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .appList {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}