.copyIcon {
  background-image: url(/assets/copy.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.copyIcon:hover {
  background-image: url(/assets/copy-hover.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.copyIcon.copied {
  background-image: url(/assets/copied.svg);
}
