.installedApp {
  height: calc(100vh - 74px);
}

.difyIcon {
  background-image: url(./icons/dify.svg);
}

.difyHeader {
  width: 24px;
  height: 24px;
  background: url(./icons/dify-header.svg) center center no-repeat;
  background-size: contain;
}