.jinaLogo {
  @apply w-4 h-4 bg-center bg-no-repeat inline-block;
  background-color: #F5FAFF;
  background-image: url(../assets/jina.png);
  background-size: 16px;
}

.watercrawlLogo {
  @apply w-4 h-4 bg-center bg-no-repeat inline-block;
  /*background-color: #F5FAFF;*/
  background-image: url(../assets/watercrawl.svg);
  background-size: 16px;
}
