.file-icon {
  background: url(../../../../assets/file.svg) center center no-repeat;
  background-size: contain;
}

.sync-icon {
  background: url(../../../../assets/sync.svg) center center no-repeat;
  background-size: contain;
}

.trash-icon {
  background: url(../../../../assets/trash.svg) center center no-repeat;
  background-size: contain;
}