.audioPlayer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  max-width: 420px;
  max-height: 36px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.playButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #296DFF;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s;
}

.playButton:hover {
  background-color: #3367d6;
}

.audioControls {
  flex-grow: 1;
  position: relative;
}

.progressBarContainer {
  position: relative;
  height: 25px;
  cursor: pointer;
}

.waveform {
  position: absolute;
  top: 0;
  left: 4px;
  width: 92%;
  height: 100%;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(66, 133, 244, 0.3);
  pointer-events: none;
}

.timeDisplay {
  position: absolute;
  color: #296DFF;
  top: 0;
  right: -15px; /* Adjust this value as needed */
  height: 100%;
  width: 50px; /* Adjust this value as needed */
  display: flex;
  align-items: center; /* Add this line to vertically center the duration */
}

.currentTime {
    position: absolute;
    bottom: calc(100% + 5px);
    transform: translateX(-50%);
    background-color: rgba(255,255,255,.8);
    padding: 2px 4px;
    border-radius:10px;
}

.duration {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  border-radius: 10px;
  position: absolute;
  right: 5px;
}

.playButton svg path,
.playButton svg rect{
   fill:currentColor;
}