# ------------------------------
# Worker Configuration
# ------------------------------

# Essential settings are defined in docker/.env.example.
# Set their local overrides in docker/.env instead of this file.

MODE=worker
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=1.0
INNER_API_KEY_FOR_PLUGIN=QaHbTe77CtuXmsfyhR7+vRjI/+XbV1AaFy691iy+kGDv2Jvy0/eAh8Y1
