# ------------------------------
# Worker Beat Configuration
# ------------------------------

MODE=beat
COMPOSE_WORKER_HEALTHCHECK_DISABLED=true
COMPOSE_WORKER_HEALTHCHECK_INTERVAL=30s
COMPOSE_WORKER_HEALTHCHECK_TIMEOUT=30s

# Custom path for Celery Beat schedule file.
# Useful in Kubernetes with read-only filesystems.
# Default is celerybeat-schedule in the current directory.
# Example: /tmp/celerybeat-schedule.db
CELERY_BEAT_SCHEDULE_FILENAME=
