.preview {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(32px, -54px);
  width: 280px;
  height: 360px;
  background: center center no-repeat;
  background-size: contain;
  border-radius: 8px;
}

.wrap:hover .preview {
  display: block;
}

.openingStatementPreview {
  background-image: url(~@/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/opening-statement.png);
}

.suggestedQuestionsAfterAnswerPreview {
  background-image: url(~@/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/suggested-questions-after-answer.png);
}

.moreLikeThisPreview {
  background-image: url(~@/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/more-like-this.png);
}

.speechToTextPreview {
  background-image: url(~@/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/speech-to-text.png);
}

.textToSpeechPreview {
  @apply shadow-lg rounded-lg;
  background-image: url(~@/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/text-to-audio-preview-assistant@2x.png);
}

.citationPreview {
  background-image: url(~@/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/citation.png);
}
