.border {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.gpt3 {
  background: linear-gradient(0deg, #D3F8DF, #D3F8DF),
linear-gradient(0deg, #EDFCF2, #EDFCF2);
  border: 1px solid rgba(211, 248, 223, 1)
}

.gpt4 {
  background: linear-gradient(0deg, #EBE9FE, #EBE9FE),
  linear-gradient(0deg, #F4F3FF, #F4F3FF);
  border: 1px solid rgba(235, 233, 254, 1)
}

.claude {
  background: linear-gradient(0deg, #F9EBDF, #F9EBDF),
linear-gradient(0deg, #FCF3EB, #FCF3EB);
  border: 1px solid rgba(249, 235, 223, 1)
}