
.monaco-editor {
  background-color: transparent !important;
  outline: none !important;
}
.monaco-editor .monaco-editor-background {
  background-color: transparent !important;
}
.monaco-editor .margin {
  background-color: transparent !important;
}

/* hide readonly tooltip */
.monaco-editor-overlaymessage {
  display: none !important;
}
