# OpenAI API Key
OPENAI_API_KEY=

# Azure OpenAI API Base Endpoint & API Key
AZURE_OPENAI_API_BASE=
AZURE_OPENAI_API_KEY=

# Anthropic API Key
ANTHROPIC_API_KEY=

# Replicate API Key
REPLICATE_API_TOKEN=

# Hugging Face API Key
HUGGINGFACE_API_KEY=
HUGGINGFACE_ENDPOINT_URL=

# Minimax Credentials
MINIMAX_API_KEY=
MINIMAX_GROUP_ID=

# Spark Credentials
SPARK_APP_ID=
SPARK_API_KEY=
SPARK_API_SECRET=

# Tongyi Credentials
TONGYI_DASHSCOPE_API_KEY=

# Wenxin Credentials
WENXIN_API_KEY=
WENXIN_SECRET_KEY=

# ChatGLM Credentials
CHATGLM_API_BASE=