.githubIcon {
  background: center/contain url('./assets/github.svg') no-repeat;
}

html[data-theme="dark"] .githubIcon {
  background: center/contain url('./assets/github-dark.svg') no-repeat;
}

.googleIcon {
  background: center/contain url('./assets/google.svg') no-repeat;
}

.microsoftIcon {
  background: center/contain url('./assets/microsoft.svg') no-repeat;
}

.dingtalkIcon {
  background: center/contain url('./assets/dingtalk.svg') no-repeat;
}

.canvasIcon {
  background: center/contain url('./assets/canvas.svg') no-repeat;
}
