.githubIcon {
  background: center/contain url('./assets/github.svg') no-repeat;
}

html[data-theme="dark"] .githubIcon {
  background: center/contain url('./assets/github-dark.svg') no-repeat;
}

.googleIcon {
  background: center/contain url('./assets/google.svg') no-repeat;
}

.casdoorIcon {
  background: center/contain url('./assets/casdoor.svg') no-repeat;
}

.keystoneIcon {
  background: center/contain url('./assets/keystone.svg') no-repeat;
}
