.githubIcon {
  background: center/contain url('./assets/github.svg');
}

.googleIcon {
  background: center/contain url('./assets/google.svg');
}

.background {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
}