/* Attention: Generate by code. Don't update by hand!!! */
html[data-theme="dark"] {
  --color-components-input-bg-normal: #ffffff14;
  --color-components-input-text-placeholder: #c8ceda4d;
  --color-components-input-bg-hover: #ffffff08;
  --color-components-input-bg-active: #ffffff0d;
  --color-components-input-border-active: #747481;
  --color-components-input-border-destructive: #f97066;
  --color-components-input-text-filled: #f4f4f5;
  --color-components-input-bg-destructive: #ffffff03;
  --color-components-input-bg-disabled: #ffffff08;
  --color-components-input-text-disabled: #c8ceda4d;
  --color-components-input-text-filled-disabled: #c8ceda99;
  --color-components-input-border-hover: #3a3a40;
  --color-components-input-border-active-prompt-1: #36bffa;
  --color-components-input-border-active-prompt-2: #296dff;

  --color-components-kbd-bg-gray: #ffffff08;
  --color-components-kbd-bg-white: #ffffff1f;

  --color-components-tooltip-bg: #18181bf2;

  --color-components-button-primary-text: #fffffff2;
  --color-components-button-primary-bg: #155aef;
  --color-components-button-primary-border: #ffffff1f;
  --color-components-button-primary-bg-hover: #296dff;
  --color-components-button-primary-border-hover: #ffffff33;
  --color-components-button-primary-bg-disabled: #ffffff08;
  --color-components-button-primary-border-disabled: #ffffff14;
  --color-components-button-primary-text-disabled: #ffffff33;

  --color-components-button-secondary-text: #ffffffcc;
  --color-components-button-secondary-text-disabled: #ffffff33;
  --color-components-button-secondary-bg: #ffffff1f;
  --color-components-button-secondary-bg-hover: #ffffff33;
  --color-components-button-secondary-bg-disabled: #ffffff08;
  --color-components-button-secondary-border: #ffffff14;
  --color-components-button-secondary-border-hover: #ffffff1f;
  --color-components-button-secondary-border-disabled: #ffffff0d;

  --color-components-button-tertiary-text: #d9d9de;
  --color-components-button-tertiary-text-disabled: #ffffff33;
  --color-components-button-tertiary-bg: #ffffff14;
  --color-components-button-tertiary-bg-hover: #ffffff1f;
  --color-components-button-tertiary-bg-disabled: #ffffff08;

  --color-components-button-ghost-text: #d9d9de;
  --color-components-button-ghost-text-disabled: #ffffff33;
  --color-components-button-ghost-bg-hover: #c8ceda14;

  --color-components-button-destructive-primary-text: #fffffff2;
  --color-components-button-destructive-primary-text-disabled: #ffffff33;
  --color-components-button-destructive-primary-bg: #d92d20;
  --color-components-button-destructive-primary-bg-hover: #f04438;
  --color-components-button-destructive-primary-bg-disabled: #f0443824;
  --color-components-button-destructive-primary-border: #ffffff1f;
  --color-components-button-destructive-primary-border-hover: #ffffff33;
  --color-components-button-destructive-primary-border-disabled: #ffffff14;

  --color-components-button-destructive-secondary-text: #f97066;
  --color-components-button-destructive-secondary-text-disabled: #f0443833;
  --color-components-button-destructive-secondary-bg: #ffffff1f;
  --color-components-button-destructive-secondary-bg-hover: #f0443824;
  --color-components-button-destructive-secondary-bg-disabled: #f0443814;
  --color-components-button-destructive-secondary-border: #ffffff14;
  --color-components-button-destructive-secondary-border-hover: #ffffff1f;
  --color-components-button-destructive-secondary-border-disabled: #f0443814;

  --color-components-button-destructive-tertiary-text: #f97066;
  --color-components-button-destructive-tertiary-text-disabled: #f0443833;
  --color-components-button-destructive-tertiary-bg: #f0443824;
  --color-components-button-destructive-tertiary-bg-hover: #f0443840;
  --color-components-button-destructive-tertiary-bg-disabled: #f0443814;

  --color-components-button-destructive-ghost-text: #f97066;
  --color-components-button-destructive-ghost-text-disabled: #f0443833;
  --color-components-button-destructive-ghost-bg-hover: #f0443824;

  --color-components-button-secondary-accent-text: #ffffffcc;
  --color-components-button-secondary-accent-text-disabled: #ffffff33;
  --color-components-button-secondary-accent-bg: #ffffff0d;
  --color-components-button-secondary-accent-bg-hover: #ffffff14;
  --color-components-button-secondary-accent-bg-disabled: #ffffff08;
  --color-components-button-secondary-accent-border: #ffffff14;
  --color-components-button-secondary-accent-border-hover: #ffffff1f;
  --color-components-button-secondary-accent-border-disabled: #ffffff0d;

  --color-components-button-indigo-bg: #444ce7;
  --color-components-button-indigo-bg-hover: #6172f3;
  --color-components-button-indigo-bg-disabled: #ffffff08;

  --color-components-checkbox-icon: #fffffff2;
  --color-components-checkbox-icon-disabled: #ffffff33;
  --color-components-checkbox-bg: #296dff;
  --color-components-checkbox-bg-hover: #5289ff;
  --color-components-checkbox-bg-disabled: #ffffff08;
  --color-components-checkbox-border: #ffffff66;
  --color-components-checkbox-border-hover: #ffffff99;
  --color-components-checkbox-border-disabled: #ffffff03;
  --color-components-checkbox-bg-unchecked: #ffffff08;
  --color-components-checkbox-bg-unchecked-hover: #ffffff0d;
  --color-components-checkbox-bg-disabled-checked: #155aef33;

  --color-components-radio-border-checked: #296dff;
  --color-components-radio-border-checked-hover: #5289ff;
  --color-components-radio-border-checked-disabled: #155aef33;
  --color-components-radio-bg-disabled: #ffffff08;
  --color-components-radio-border: #ffffff66;
  --color-components-radio-border-hover: #ffffff99;
  --color-components-radio-border-disabled: #ffffff03;
  --color-components-radio-bg: #ffffff00;
  --color-components-radio-bg-hover: #ffffff0d;

  --color-components-toggle-knob: #f4f4f5;
  --color-components-toggle-knob-disabled: #ffffff33;
  --color-components-toggle-bg: #296dff;
  --color-components-toggle-bg-hover: #5289ff;
  --color-components-toggle-bg-disabled: #ffffff14;
  --color-components-toggle-bg-unchecked: #ffffff33;
  --color-components-toggle-bg-unchecked-hover: #ffffff4d;
  --color-components-toggle-bg-unchecked-disabled: #ffffff14;
  --color-components-toggle-knob-hover: #fefefe;

  --color-components-card-bg: #222225;
  --color-components-card-border: #ffffff08;
  --color-components-card-bg-alt: #27272b;

  --color-components-menu-item-text: #c8ceda99;
  --color-components-menu-item-text-active: #fffffff2;
  --color-components-menu-item-text-hover: #c8cedacc;
  --color-components-menu-item-text-active-accent: #fffffff2;

  --color-components-panel-bg: #222225;
  --color-components-panel-bg-blur: #2c2c30f2;
  --color-components-panel-border: #c8ceda24;
  --color-components-panel-border-subtle: #c8ceda14;
  --color-components-panel-gradient-2: #222225;
  --color-components-panel-gradient-1: #27272b;
  --color-components-panel-bg-alt: #222225;
  --color-components-panel-on-panel-item-bg: #27272b;
  --color-components-panel-on-panel-item-bg-hover: #3a3a40;
  --color-components-panel-on-panel-item-bg-alt: #3a3a40;
  --color-components-panel-on-panel-item-bg-transparent: #2c2c30f2;
  --color-components-panel-on-panel-item-bg-hover-transparent: #3a3a4000;
  --color-components-panel-on-panel-item-bg-destructive-hover-transparent: #fffbfa00;

  --color-components-panel-bg-transparent: #22222500;

  --color-components-main-nav-nav-button-text: #c8ceda99;
  --color-components-main-nav-nav-button-text-active: #f4f4f5;
  --color-components-main-nav-nav-button-bg: #ffffff00;
  --color-components-main-nav-nav-button-bg-active: #c8ceda24;
  --color-components-main-nav-nav-button-border: #ffffff14;
  --color-components-main-nav-nav-button-bg-hover: #c8ceda0a;

  --color-components-main-nav-nav-user-border: #ffffff0d;

  --color-components-slider-knob: #f4f4f5;
  --color-components-slider-knob-hover: #fefefe;
  --color-components-slider-knob-disabled: #ffffff33;
  --color-components-slider-range: #296dff;
  --color-components-slider-track: #ffffff33;
  --color-components-slider-knob-border-hover: #1018284d;
  --color-components-slider-knob-border: #10182833;

  --color-components-segmented-control-item-active-bg: #ffffff14;
  --color-components-segmented-control-item-active-border: #c8ceda14;
  --color-components-segmented-control-bg-normal: #18181bb3;
  --color-components-segmented-control-item-active-accent-bg: #155aef33;
  --color-components-segmented-control-item-active-accent-border: #155aef4d;

  --color-components-option-card-option-bg: #c8ceda0a;
  --color-components-option-card-option-selected-bg: #ffffff0d;
  --color-components-option-card-option-selected-border: #5289ff;
  --color-components-option-card-option-border: #c8ceda33;
  --color-components-option-card-option-bg-hover: #c8ceda24;
  --color-components-option-card-option-border-hover: #c8ceda4d;

  --color-components-tab-active: #296dff;

  --color-components-badge-white-to-dark: #18181bcc;
  --color-components-badge-status-light-success-bg: #17b26a;
  --color-components-badge-status-light-success-border-inner: #47cd89;
  --color-components-badge-status-light-success-halo: #17b26a4d;

  --color-components-badge-status-light-border-outer: #222225;
  --color-components-badge-status-light-high-light: #ffffff4d;
  --color-components-badge-status-light-warning-bg: #f79009;
  --color-components-badge-status-light-warning-border-inner: #fdb022;
  --color-components-badge-status-light-warning-halo: #f790094d;

  --color-components-badge-status-light-error-bg: #f04438;
  --color-components-badge-status-light-error-border-inner: #f97066;
  --color-components-badge-status-light-error-halo: #f044384d;

  --color-components-badge-status-light-normal-bg: #0ba5ec;
  --color-components-badge-status-light-normal-border-inner: #36bffa;
  --color-components-badge-status-light-normal-halo: #0ba5ec4d;

  --color-components-badge-status-light-disabled-bg: #676f83;
  --color-components-badge-status-light-disabled-border-inner: #98a2b2;
  --color-components-badge-status-light-disabled-halo: #c8ceda14;

  --color-components-badge-bg-green-soft: #17b26a24;
  --color-components-badge-bg-orange-soft: #f7900924;
  --color-components-badge-bg-red-soft: #f0443824;
  --color-components-badge-bg-blue-light-soft: #0ba5ec24;
  --color-components-badge-bg-gray-soft: #c8ceda14;
  --color-components-badge-bg-dimm: #ffffff08;

  --color-components-chart-line: #5289ff;
  --color-components-chart-area-1: #155aef33;
  --color-components-chart-area-2: #155aef0a;
  --color-components-chart-current-1: #5289ff;
  --color-components-chart-current-2: #155aef4d;
  --color-components-chart-bg: #18181bf2;

  --color-components-actionbar-bg: #222225;
  --color-components-actionbar-border: #c8ceda14;
  --color-components-actionbar-bg-accent: #27272b;
  --color-components-actionbar-border-accent: #5289ff;

  --color-components-dropzone-bg-alt: #18181bcc;
  --color-components-dropzone-bg: #18181b66;
  --color-components-dropzone-bg-accent: #155aef33;
  --color-components-dropzone-border: #c8ceda24;
  --color-components-dropzone-border-alt: #c8ceda33;
  --color-components-dropzone-border-accent: #84abff;

  --color-components-progress-brand-progress: #5289ff;
  --color-components-progress-brand-border: #5289ff;
  --color-components-progress-brand-bg: #155aef0a;

  --color-components-progress-white-progress: #ffffff;
  --color-components-progress-white-border: #fffffff2;
  --color-components-progress-white-bg: #ffffff03;

  --color-components-progress-gray-progress: #98a2b2;
  --color-components-progress-gray-border: #98a2b2;
  --color-components-progress-gray-bg: #c8ceda05;

  --color-components-progress-warning-progress: #fdb022;
  --color-components-progress-warning-border: #fdb022;
  --color-components-progress-warning-bg: #f790090a;

  --color-components-progress-error-progress: #f97066;
  --color-components-progress-error-border: #f97066;
  --color-components-progress-error-bg: #f044380a;

  --color-components-chat-input-audio-bg: #155aef33;
  --color-components-chat-input-audio-wave-default: #c8ceda24;
  --color-components-chat-input-bg-mask-1: #18181b0a;
  --color-components-chat-input-bg-mask-2: #18181b99;
  --color-components-chat-input-border: #c8ceda33;
  --color-components-chat-input-audio-wave-active: #84abff;
  --color-components-chat-input-audio-bg-alt: #18181be6;

  --color-components-avatar-shape-fill-stop-0: #fffffff2;
  --color-components-avatar-shape-fill-stop-100: #ffffffcc;

  --color-components-avatar-bg-mask-stop-0: #ffffff33;
  --color-components-avatar-bg-mask-stop-100: #ffffff08;

  --color-components-avatar-default-avatar-bg: #222225;
  --color-components-avatar-mask-darkmode-dimmed: #0000001f;

  --color-components-label-gray: #c8ceda24;

  --color-components-premium-badge-blue-bg-stop-0: #5289ff;
  --color-components-premium-badge-blue-bg-stop-100: #296dff;
  --color-components-premium-badge-blue-stroke-stop-0: #ffffff33;
  --color-components-premium-badge-blue-stroke-stop-100: #296dff;
  --color-components-premium-badge-blue-text-stop-0: #eff4ff;
  --color-components-premium-badge-blue-text-stop-100: #b2caff;
  --color-components-premium-badge-blue-glow: #004aeb;
  --color-components-premium-badge-blue-bg-stop-0-hover: #84abff;
  --color-components-premium-badge-blue-bg-stop-100-hover: #004aeb;
  --color-components-premium-badge-blue-glow-hover: #d1e0ff;
  --color-components-premium-badge-blue-stroke-stop-0-hover: #ffffff80;
  --color-components-premium-badge-blue-stroke-stop-100-hover: #296dff;

  --color-components-premium-badge-highlight-stop-0: #ffffff1f;
  --color-components-premium-badge-highlight-stop-100: #ffffff33;
  --color-components-premium-badge-indigo-bg-stop-0: #6172f3;
  --color-components-premium-badge-indigo-bg-stop-100: #3538cd;
  --color-components-premium-badge-indigo-stroke-stop-0: #ffffff33;
  --color-components-premium-badge-indigo-stroke-stop-100: #444ce7;
  --color-components-premium-badge-indigo-text-stop-0: #eef4ff;
  --color-components-premium-badge-indigo-text-stop-100: #c7d7fe;
  --color-components-premium-badge-indigo-glow: #3538cd;
  --color-components-premium-badge-indigo-glow-hover: #e0eaff;
  --color-components-premium-badge-indigo-bg-stop-0-hover: #a4bcfd;
  --color-components-premium-badge-indigo-bg-stop-100-hover: #3538cd;
  --color-components-premium-badge-indigo-stroke-stop-0-hover: #ffffff80;
  --color-components-premium-badge-indigo-stroke-stop-100-hover: #444ce7;

  --color-components-premium-badge-grey-bg-stop-0: #676f83;
  --color-components-premium-badge-grey-bg-stop-100: #495464;
  --color-components-premium-badge-grey-stroke-stop-0: #ffffff1f;
  --color-components-premium-badge-grey-stroke-stop-100: #495464;
  --color-components-premium-badge-grey-text-stop-0: #f9fafb;
  --color-components-premium-badge-grey-text-stop-100: #e9ebf0;
  --color-components-premium-badge-grey-glow: #354052;
  --color-components-premium-badge-grey-glow-hover: #f2f4f7;
  --color-components-premium-badge-grey-bg-stop-0-hover: #98a2b2;
  --color-components-premium-badge-grey-bg-stop-100-hover: #354052;
  --color-components-premium-badge-grey-stroke-stop-0-hover: #ffffff80;
  --color-components-premium-badge-grey-stroke-stop-100-hover: #676f83;

  --color-components-premium-badge-orange-bg-stop-0: #ff692e;
  --color-components-premium-badge-orange-bg-stop-100: #e04f16;
  --color-components-premium-badge-orange-stroke-stop-0: #ffffff33;
  --color-components-premium-badge-orange-stroke-stop-100: #ff4405;
  --color-components-premium-badge-orange-text-stop-0: #fef6ee;
  --color-components-premium-badge-orange-text-stop-100: #f9dbaf;
  --color-components-premium-badge-orange-glow: #b93815;
  --color-components-premium-badge-orange-glow-hover: #fdead7;
  --color-components-premium-badge-orange-bg-stop-0-hover: #ff692e;
  --color-components-premium-badge-orange-bg-stop-100-hover: #b93815;
  --color-components-premium-badge-orange-stroke-stop-0-hover: #ffffff80;
  --color-components-premium-badge-orange-stroke-stop-100-hover: #ff4405;

  --color-components-progress-bar-bg: #c8ceda14;
  --color-components-progress-bar-progress: #c8ceda24;
  --color-components-progress-bar-border: #ffffff08;
  --color-components-progress-bar-progress-solid: #fffffff2;
  --color-components-progress-bar-progress-highlight: #c8ceda33;

  --color-components-icon-bg-red-solid: #d92d20;
  --color-components-icon-bg-rose-solid: #e31b54;
  --color-components-icon-bg-pink-solid: #dd2590;
  --color-components-icon-bg-orange-dark-solid: #ff4405;
  --color-components-icon-bg-yellow-solid: #eaaa08;
  --color-components-icon-bg-green-solid: #4ca30d;
  --color-components-icon-bg-teal-solid: #0e9384;
  --color-components-icon-bg-blue-light-solid: #0ba5ec;
  --color-components-icon-bg-blue-solid: #155aef;
  --color-components-icon-bg-indigo-solid: #444ce7;
  --color-components-icon-bg-violet-solid: #7839ee;
  --color-components-icon-bg-midnight-solid: #5d698d;
  --color-components-icon-bg-rose-soft: #f63d6833;
  --color-components-icon-bg-pink-soft: #ee46bc33;
  --color-components-icon-bg-orange-dark-soft: #ff440533;
  --color-components-icon-bg-yellow-soft: #eaaa0833;
  --color-components-icon-bg-green-soft: #66c61c33;
  --color-components-icon-bg-teal-soft: #15b79e33;
  --color-components-icon-bg-blue-light-soft: #0ba5ec33;
  --color-components-icon-bg-blue-soft: #155aef33;
  --color-components-icon-bg-indigo-soft: #6172f333;
  --color-components-icon-bg-violet-soft: #875bf733;
  --color-components-icon-bg-midnight-soft: #828dad33;
  --color-components-icon-bg-red-soft: #f0443833;
  --color-components-icon-bg-orange-solid: #f79009;
  --color-components-icon-bg-orange-soft: #f7900933;

  --color-text-primary: #fbfbfc;
  --color-text-secondary: #d9d9de;
  --color-text-tertiary: #c8ceda99;
  --color-text-quaternary: #c8ceda66;
  --color-text-destructive: #f97066;
  --color-text-success: #17b26a;
  --color-text-warning: #f79009;
  --color-text-destructive-secondary: #f97066;
  --color-text-success-secondary: #47cd89;
  --color-text-warning-secondary: #fdb022;
  --color-text-accent: #5289ff;
  --color-text-primary-on-surface: #fffffff2;
  --color-text-placeholder: #c8ceda4d;
  --color-text-disabled: #c8ceda4d;
  --color-text-accent-secondary: #84abff;
  --color-text-accent-light-mode-only: #d9d9de;
  --color-text-text-selected: #155aef4d;
  --color-text-secondary-on-surface: #ffffffe6;
  --color-text-logo-text: #e9e9ec;
  --color-text-empty-state-icon: #c8ceda4d;
  --color-text-inverted: #ffffff;
  --color-text-inverted-dimmed: #ffffffcc;

  --color-background-body: #1d1d20;
  --color-background-default-subtle: #222225;
  --color-background-neutral-subtle: #1d1d20;
  --color-background-sidenav-bg: #27272aeb;
  --color-background-default: #222225;
  --color-background-soft: #18181b40;
  --color-background-gradient-bg-fill-chat-bg-1: #222225;
  --color-background-gradient-bg-fill-chat-bg-2: #1d1d20;
  --color-background-gradient-bg-fill-chat-bubble-bg-1: #c8ceda14;
  --color-background-gradient-bg-fill-chat-bubble-bg-2: #c8ceda05;
  --color-background-gradient-bg-fill-debug-bg-1: #c8ceda14;
  --color-background-gradient-bg-fill-debug-bg-2: #18181b0a;

  --color-background-gradient-mask-gray: #18181b14;
  --color-background-gradient-mask-transparent: #00000000;
  --color-background-gradient-mask-input-clear-2: #393a3e00;
  --color-background-gradient-mask-input-clear-1: #393a3e;
  --color-background-gradient-mask-transparent-dark: #00000000;
  --color-background-gradient-mask-side-panel-2: #18181be6;
  --color-background-gradient-mask-side-panel-1: #18181b0a;

  --color-background-default-burn: #1d1d20;
  --color-background-overlay-fullscreen: #27272af7;
  --color-background-default-lighter: #c8ceda0a;
  --color-background-section: #18181b66;
  --color-background-interaction-from-bg-1: #18181b66;
  --color-background-interaction-from-bg-2: #18181b24;
  --color-background-section-burn: #18181b99;
  --color-background-default-dodge: #3a3a40;
  --color-background-overlay: #18181bcc;
  --color-background-default-dimmed: #27272b;
  --color-background-default-hover: #27272b;
  --color-background-overlay-alt: #18181b66;
  --color-background-surface-white: #ffffffe6;
  --color-background-overlay-destructive: #f044384d;
  --color-background-overlay-backdrop: #18181bf2;

  --color-shadow-shadow-1: #0000000d;
  --color-shadow-shadow-3: #0000001a;
  --color-shadow-shadow-4: #0000001f;
  --color-shadow-shadow-5: #00000029;
  --color-shadow-shadow-6: #00000033;
  --color-shadow-shadow-7: #0000003d;
  --color-shadow-shadow-8: #00000047;
  --color-shadow-shadow-9: #0000005c;
  --color-shadow-shadow-2: #00000014;
  --color-shadow-shadow-10: #00000066;

  --color-workflow-block-border: #ffffff14;
  --color-workflow-block-parma-bg: #ffffff0d;
  --color-workflow-block-bg: #27272b;
  --color-workflow-block-bg-transparent: #27272bf5;
  --color-workflow-block-border-highlight: #c8ceda33;

  --color-workflow-canvas-workflow-dot-color: #8585ad1c;
  --color-workflow-canvas-workflow-bg: #1d1d20;

  --color-workflow-link-line-active: #5289ff;
  --color-workflow-link-line-normal: #676f83;
  --color-workflow-link-line-handle: #5289ff;
  --color-workflow-link-line-normal-transparent: #676f8333;
  --color-workflow-link-line-failure-active: #fdb022;
  --color-workflow-link-line-failure-handle: #fdb022;
  --color-workflow-link-line-failure-button-bg: #f79009;
  --color-workflow-link-line-failure-button-hover: #dc6803;

  --color-workflow-link-line-success-active: #47cd89;
  --color-workflow-link-line-success-handle: #47cd89;

  --color-workflow-link-line-error-active: #f97066;
  --color-workflow-link-line-error-handle: #f97066;

  --color-workflow-minimap-bg: #27272b;
  --color-workflow-minimap-block: #c8ceda14;

  --color-workflow-display-success-bg: #17b26a33;
  --color-workflow-display-success-border-1: #17b26ae6;
  --color-workflow-display-success-border-2: #17b26acc;
  --color-workflow-display-success-vignette-color: #17b26a40;
  --color-workflow-display-success-bg-line-pattern: #18181bcc;

  --color-workflow-display-glass-1: #ffffff08;
  --color-workflow-display-glass-2: #ffffff0d;
  --color-workflow-display-vignette-dark: #00000066;
  --color-workflow-display-highlight: #ffffff1f;
  --color-workflow-display-outline: #18181bf2;
  --color-workflow-display-error-bg: #f0443833;
  --color-workflow-display-error-bg-line-pattern: #18181bcc;
  --color-workflow-display-error-border-1: #f04438e6;
  --color-workflow-display-error-border-2: #f04438cc;
  --color-workflow-display-error-vignette-color: #f0443840;

  --color-workflow-display-warning-bg: #f7900933;
  --color-workflow-display-warning-bg-line-pattern: #18181bcc;
  --color-workflow-display-warning-border-1: #f79009e6;
  --color-workflow-display-warning-border-2: #f79009cc;
  --color-workflow-display-warning-vignette-color: #f7900940;

  --color-workflow-display-normal-bg: #0ba5ec33;
  --color-workflow-display-normal-bg-line-pattern: #18181bcc;
  --color-workflow-display-normal-border-1: #0ba5ece6;
  --color-workflow-display-normal-border-2: #0ba5eccc;
  --color-workflow-display-normal-vignette-color: #0ba5ec40;

  --color-workflow-display-disabled-bg: #c8ceda33;
  --color-workflow-display-disabled-bg-line-pattern: #18181bcc;
  --color-workflow-display-disabled-border-1: #c8ceda99;
  --color-workflow-display-disabled-border-2: #c8ceda40;
  --color-workflow-display-disabled-vignette-color: #c8ceda40;
  --color-workflow-display-disabled-outline: #18181bf2;

  --color-workflow-workflow-progress-bg-1: #18181b40;
  --color-workflow-workflow-progress-bg-2: #18181b0a;

  --color-divider-subtle: #c8ceda14;
  --color-divider-regular: #c8ceda24;
  --color-divider-deep: #c8ceda33;
  --color-divider-burn: #18181bf2;
  --color-divider-intense: #c8ceda66;
  --color-divider-solid: #3a3a40;
  --color-divider-solid-alt: #747481;

  --color-state-base-hover: #c8ceda14;
  --color-state-base-active: #c8ceda33;
  --color-state-base-hover-alt: #c8ceda24;
  --color-state-base-handle: #c8ceda4d;
  --color-state-base-handle-hover: #c8ceda80;
  --color-state-base-hover-subtle: #c8ceda0a;

  --color-state-accent-hover: #155aef24;
  --color-state-accent-active: #155aef24;
  --color-state-accent-hover-alt: #155aef40;
  --color-state-accent-solid: #5289ff;
  --color-state-accent-active-alt: #155aef33;

  --color-state-destructive-hover: #f0443824;
  --color-state-destructive-hover-alt: #f0443840;
  --color-state-destructive-active: #f044384d;
  --color-state-destructive-solid: #f97066;
  --color-state-destructive-border: #f97066;

  --color-state-success-hover: #17b26a24;
  --color-state-success-hover-alt: #17b26a40;
  --color-state-success-active: #17b26a4d;
  --color-state-success-solid: #47cd89;

  --color-state-warning-hover: #f7900924;
  --color-state-warning-hover-alt: #f7900940;
  --color-state-warning-active: #f790094d;
  --color-state-warning-solid: #f79009;

  --color-effects-highlight: #c8ceda14;
  --color-effects-highlight-lightmode-off: #c8ceda14;
  --color-effects-image-frame: #ffffff;

  --color-util-colors-orange-dark-orange-dark-50: #57130a;
  --color-util-colors-orange-dark-orange-dark-100: #771a0d;
  --color-util-colors-orange-dark-orange-dark-200: #97180c;
  --color-util-colors-orange-dark-orange-dark-300: #bc1b06;
  --color-util-colors-orange-dark-orange-dark-400: #e62e05;
  --color-util-colors-orange-dark-orange-dark-500: #ff4405;
  --color-util-colors-orange-dark-orange-dark-600: #ff692e;
  --color-util-colors-orange-dark-orange-dark-700: #ff9c66;

  --color-util-colors-orange-orange-50: #511c10;
  --color-util-colors-orange-orange-100: #772917;
  --color-util-colors-orange-orange-200: #932f19;
  --color-util-colors-orange-orange-300: #b93815;
  --color-util-colors-orange-orange-400: #e04f16;
  --color-util-colors-orange-orange-500: #ef6820;
  --color-util-colors-orange-orange-600: #f38744;
  --color-util-colors-orange-orange-700: #f7b27a;
  --color-util-colors-orange-orange-100-transparent: #77291700;

  --color-util-colors-pink-pink-50: #4e0d30;
  --color-util-colors-pink-pink-100: #851651;
  --color-util-colors-pink-pink-200: #9e165f;
  --color-util-colors-pink-pink-300: #c11574;
  --color-util-colors-pink-pink-400: #dd2590;
  --color-util-colors-pink-pink-500: #ee46bc;
  --color-util-colors-pink-pink-600: #f670c7;
  --color-util-colors-pink-pink-700: #faa7e0;

  --color-util-colors-fuchsia-fuchsia-50: #47104c;
  --color-util-colors-fuchsia-fuchsia-100: #6f1877;
  --color-util-colors-fuchsia-fuchsia-200: #821890;
  --color-util-colors-fuchsia-fuchsia-300: #9f1ab1;
  --color-util-colors-fuchsia-fuchsia-400: #ba24d5;
  --color-util-colors-fuchsia-fuchsia-500: #d444f1;
  --color-util-colors-fuchsia-fuchsia-600: #e478fa;
  --color-util-colors-fuchsia-fuchsia-700: #eeaafd;

  --color-util-colors-purple-purple-50: #27115f;
  --color-util-colors-purple-purple-100: #3e1c96;
  --color-util-colors-purple-purple-200: #4a1fb8;
  --color-util-colors-purple-purple-300: #5925dc;
  --color-util-colors-purple-purple-400: #6938ef;
  --color-util-colors-purple-purple-500: #7a5af8;
  --color-util-colors-purple-purple-600: #9b8afb;
  --color-util-colors-purple-purple-700: #bdb4fe;

  --color-util-colors-indigo-indigo-50: #1f235b;
  --color-util-colors-indigo-indigo-100: #2d3282;
  --color-util-colors-indigo-indigo-200: #2d31a6;
  --color-util-colors-indigo-indigo-300: #3538cd;
  --color-util-colors-indigo-indigo-400: #444ce7;
  --color-util-colors-indigo-indigo-500: #6172f3;
  --color-util-colors-indigo-indigo-600: #8098f9;
  --color-util-colors-indigo-indigo-700: #a4bcfd;

  --color-util-colors-blue-blue-50: #102a56;
  --color-util-colors-blue-blue-100: #194185;
  --color-util-colors-blue-blue-200: #1849a9;
  --color-util-colors-blue-blue-300: #175cd3;
  --color-util-colors-blue-blue-400: #1570ef;
  --color-util-colors-blue-blue-500: #2e90fa;
  --color-util-colors-blue-blue-600: #53b1fd;
  --color-util-colors-blue-blue-700: #84caff;

  --color-util-colors-blue-light-blue-light-50: #062c41;
  --color-util-colors-blue-light-blue-light-100: #0b4a6f;
  --color-util-colors-blue-light-blue-light-200: #065986;
  --color-util-colors-blue-light-blue-light-300: #026aa2;
  --color-util-colors-blue-light-blue-light-400: #0086c9;
  --color-util-colors-blue-light-blue-light-500: #0ba5ec;
  --color-util-colors-blue-light-blue-light-600: #36bffa;
  --color-util-colors-blue-light-blue-light-700: #7cd4fd;

  --color-util-colors-gray-blue-gray-blue-50: #0d0f1c;
  --color-util-colors-gray-blue-gray-blue-100: #101323;
  --color-util-colors-gray-blue-gray-blue-200: #293056;
  --color-util-colors-gray-blue-gray-blue-300: #363f72;
  --color-util-colors-gray-blue-gray-blue-400: #3e4784;
  --color-util-colors-gray-blue-gray-blue-500: #4e5ba6;
  --color-util-colors-gray-blue-gray-blue-600: #717bbc;
  --color-util-colors-gray-blue-gray-blue-700: #b3b8db;

  --color-util-colors-blue-brand-blue-brand-50: #002066;
  --color-util-colors-blue-brand-blue-brand-100: #00329e;
  --color-util-colors-blue-brand-blue-brand-200: #003dc1;
  --color-util-colors-blue-brand-blue-brand-300: #004aeb;
  --color-util-colors-blue-brand-blue-brand-400: #155aef;
  --color-util-colors-blue-brand-blue-brand-500: #296dff;
  --color-util-colors-blue-brand-blue-brand-600: #5289ff;
  --color-util-colors-blue-brand-blue-brand-700: #84abff;

  --color-util-colors-red-red-50: #55160c;
  --color-util-colors-red-red-100: #7a271a;
  --color-util-colors-red-red-200: #912018;
  --color-util-colors-red-red-300: #b42318;
  --color-util-colors-red-red-400: #d92d20;
  --color-util-colors-red-red-500: #f04438;
  --color-util-colors-red-red-600: #f97066;
  --color-util-colors-red-red-700: #fda29b;

  --color-util-colors-green-green-50: #053321;
  --color-util-colors-green-green-100: #074d31;
  --color-util-colors-green-green-200: #085d3a;
  --color-util-colors-green-green-300: #067647;
  --color-util-colors-green-green-400: #079455;
  --color-util-colors-green-green-500: #17b26a;
  --color-util-colors-green-green-600: #47cd89;
  --color-util-colors-green-green-700: #75e0a7;

  --color-util-colors-warning-warning-50: #4e1d09;
  --color-util-colors-warning-warning-100: #7a2e0e;
  --color-util-colors-warning-warning-200: #93370d;
  --color-util-colors-warning-warning-300: #b54708;
  --color-util-colors-warning-warning-400: #dc6803;
  --color-util-colors-warning-warning-500: #f79009;
  --color-util-colors-warning-warning-600: #fdb022;
  --color-util-colors-warning-warning-700: #fec84b;

  --color-util-colors-yellow-yellow-50: #542c0d;
  --color-util-colors-yellow-yellow-100: #713b12;
  --color-util-colors-yellow-yellow-200: #854a0e;
  --color-util-colors-yellow-yellow-300: #a15c07;
  --color-util-colors-yellow-yellow-400: #ca8504;
  --color-util-colors-yellow-yellow-500: #eaaa08;
  --color-util-colors-yellow-yellow-600: #fac515;
  --color-util-colors-yellow-yellow-700: #fde272;

  --color-util-colors-teal-teal-50: #0a2926;
  --color-util-colors-teal-teal-100: #134e48;
  --color-util-colors-teal-teal-200: #125d56;
  --color-util-colors-teal-teal-300: #107569;
  --color-util-colors-teal-teal-400: #0e9384;
  --color-util-colors-teal-teal-500: #15b79e;
  --color-util-colors-teal-teal-600: #2ed3b7;
  --color-util-colors-teal-teal-700: #5fe9d0;

  --color-util-colors-cyan-cyan-50: #0d2d3a;
  --color-util-colors-cyan-cyan-100: #164c63;
  --color-util-colors-cyan-cyan-200: #155b75;
  --color-util-colors-cyan-cyan-300: #0e7090;
  --color-util-colors-cyan-cyan-400: #088ab2;
  --color-util-colors-cyan-cyan-500: #06aed4;
  --color-util-colors-cyan-cyan-600: #22ccee;
  --color-util-colors-cyan-cyan-700: #67e3f9;

  --color-util-colors-violet-violet-50: #2e125e;
  --color-util-colors-violet-violet-100: #491c96;
  --color-util-colors-violet-violet-200: #5720b7;
  --color-util-colors-violet-violet-300: #6927da;
  --color-util-colors-violet-violet-400: #7839ee;
  --color-util-colors-violet-violet-500: #875bf7;
  --color-util-colors-violet-violet-600: #a48afb;
  --color-util-colors-violet-violet-700: #c3b5fd;

  --color-util-colors-gray-gray-50: #0c111c;
  --color-util-colors-gray-gray-100: #101828;
  --color-util-colors-gray-gray-200: #18222f;
  --color-util-colors-gray-gray-300: #354052;
  --color-util-colors-gray-gray-400: #495464;
  --color-util-colors-gray-gray-500: #676f83;
  --color-util-colors-gray-gray-600: #98a2b2;
  --color-util-colors-gray-gray-700: #d0d5dc;

  --color-util-colors-green-light-green-light-50: #15290a;
  --color-util-colors-green-light-green-light-100: #2b5314;
  --color-util-colors-green-light-green-light-200: #326212;
  --color-util-colors-green-light-green-light-300: #3b7c0f;
  --color-util-colors-green-light-green-light-500: #66c61c;
  --color-util-colors-green-light-green-light-400: #4ca30d;
  --color-util-colors-green-light-green-light-600: #85e13a;
  --color-util-colors-green-light-green-light-700: #a6ef67;

  --color-util-colors-rose-rose-50: #510b24;
  --color-util-colors-rose-rose-100: #89123e;
  --color-util-colors-rose-rose-200: #a11043;
  --color-util-colors-rose-rose-300: #c01048;
  --color-util-colors-rose-rose-400: #e31b54;
  --color-util-colors-rose-rose-500: #f63d68;
  --color-util-colors-rose-rose-600: #fd6f8e;
  --color-util-colors-rose-rose-700: #fea3b4;

  --color-util-colors-midnight-midnight-50: #171c22;
  --color-util-colors-midnight-midnight-100: #202431;
  --color-util-colors-midnight-midnight-200: #2f3648;
  --color-util-colors-midnight-midnight-300: #3e465e;
  --color-util-colors-midnight-midnight-400: #5d698d;
  --color-util-colors-midnight-midnight-500: #828dad;
  --color-util-colors-midnight-midnight-600: #a7aec5;
  --color-util-colors-midnight-midnight-700: #c6cbd9;

  --color-third-party-LangChain: #ffffff;
  --color-third-party-Langfuse: #ffffff;
  --color-third-party-Github: #ffffff;
  --color-third-party-Github-tertiary: #c8ceda99;
  --color-third-party-Github-secondary: #d9d9de;
  --color-third-party-model-bg-openai: #121212;
  --color-third-party-model-bg-anthropic: #1d1917;
  --color-third-party-model-bg-default: #0b0b0e;

  --color-third-party-aws: #141f2e;
  --color-third-party-aws-alt: #192639;

  --color-saas-background: #0b0b0e;
  --color-saas-pricing-grid-bg: #c8ceda33;

}