.wrapper {
  border-color: #d0d5dd;
}

.checked {
  background: #155eef url(./assets/check.svg) center center no-repeat;
  background-size: 12px 12px;
  border-color: #155eef;
}

.checked.disabled {
  background-color: #d0d5dd;
  border-color: #d0d5dd;
}