.textGradient {
  background: linear-gradient(92deg, #171718 -29.55%, #2f3132 75.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}