apiVersion: v1
kind: Service
metadata:
  name: dify-web
  namespace: acedatacloud
spec:
  type: ClusterIP
  selector:
    app: dify-web
  ports:
    - name: http
      port: 3000
      targetPort: 3000
