.header-DEVELOPMENT {
  background: linear-gradient(180deg, rgba(253, 176, 34, 0.08) 0%, rgba(253, 176, 34, 0) 100%);
  border-top: 4px solid #FDB022;
}

.header-TESTING {
  background: linear-gradient(180deg, rgba(6, 174, 212, 0.08) 0%, rgba(6, 174, 212, 0) 100%);
  border-top: 4px solid #06AED4;
}

.logo {
  width: 96px;
  height: 40px;
  background: url(~@/app/components/share/chat/welcome/icons/logo.png) center center no-repeat;
  background-size: contain;
}

.github-icon {
  width: 18px;
  height: 18px;
  background: url(./assets/github-icon.svg) center center no-repeat;
  background-size: contain;
}

.alpha {
  width: 12px;
  height: 12px;
  background: url(./assets/alpha.svg) center center no-repeat;
}

.beaker-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: url(./assets/beaker.svg) center center no-repeat;
  background-size: contain;
}