.slider {
    position: relative;
}

.slider.disabled {
    opacity: 0.6;
}

.slider-thumb:focus {
    outline: none;
}

.slider-track {
    background-color: #528BFF;
    height: 2px;
}

.slider-track-1 {
    background-color: #E5E7EB;
}