.instrumentSerif {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}

@font-face {
  font-family: "Instrument Serif";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./InstrumentSerif-Italic-Latin.woff2") format("woff2");
  unicode-range:
    U+0000-00FF,
    U+0100-024F,
    U+0259,
    U+0300-036F,
    U+1E00-1EFF,
    U+2010-205E,
    U+20A0-20CF,
    U+2113,
    U+2212,
    U+2C60-2C7F,
    U+A720-A7FF;
}
