@reference "../../../../styles/globals.css";

.titleIcon {
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  @apply !h-6 !w-6;
}
.layoutRightIcon {
  @apply ml-2 cursor-pointer rounded-lg border-[0.5px] border-components-button-secondary-border bg-components-button-secondary-bg p-2 shadow-xs shadow-shadow-shadow-3 backdrop-blur-[5px] hover:border-components-button-secondary-border-hover hover:bg-components-button-secondary-bg-hover;
}
