.titleIcon {
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  @apply h-6 w-6 !important;
}
.layoutRightIcon {
  @apply p-2 ml-2 border-[0.5px] border-components-button-secondary-border hover:border-components-button-secondary-border-hover
  rounded-lg bg-components-button-secondary-bg hover:bg-components-button-secondary-bg-hover cursor-pointer
  shadow-xs shadow-shadow-shadow-3 backdrop-blur-[5px];
}
