.generateLogo {
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.codeBrowserIcon {
  @apply w-4 h-4 bg-center bg-no-repeat;
  background-image: url(./assets/code-browser.svg);
}

.refreshIcon {
  background-image: url(./assets/refresh.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.refreshIcon:hover {
  background-image: url(./assets/refresh-hover.svg);
  background-position: center;
  background-repeat: no-repeat;
}

