
.commonIcon {
  @apply w-4 h-4 inline-block align-middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.actionIcon {
  @apply bg-gray-500;
  mask-image: url(~@/assets/action.svg);
}
.actionItem {
  @apply h-8 py-[6px] px-3 mx-1 flex items-center gap-2 hover:bg-gray-100 rounded-lg cursor-pointer;
  width: calc(100% - 0.5rem);
}
.deleteActionItem {
  @apply hover:bg-red-50 !important;
}
.actionName {
  @apply text-gray-700 text-sm;
}

.textGradient {
  background: linear-gradient(to right, rgba(16, 74, 225, 1) 0, rgba(0, 152, 238, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.appList {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

@media (min-width: 1624px) {
  .appList {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}

@media (min-width: 1300px) and (max-width: 1624px) {
  .appList {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .appList {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

/* .completionPic {
  background-image: url(~@/app/components/app-sidebar/completion.png)
}
    
.expertPic {
  background-image: url(~@/app/components/app-sidebar/expert.png)
} */
