.settingsModal {
	max-width: 32.5rem !important;
}

.settingTitle {
	line-height: 21px;
	font-size: 0.875rem;
}

.settingsTip {
	line-height: 1.125rem;
	font-size: 0.75rem;
}

.policy {
	font-size: 0.75rem;
	line-height: 1.125rem;
}