.svgIcon {
  background-image: url(/assets/svg.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.svgIconed {
  background-image: url(/assets/svged.svg);
  background-position: center;
  background-repeat: no-repeat;
}
