.textGradient {
  background: linear-gradient(92deg, #111111 -29.55%, #363939 75.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}