.modal {
  width: 600px !important;
  max-width: 600px !important;
  padding: 24px 32px !important;
}

.operate {
  padding: 0 8px;
  min-width: 96px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: 0.5px solid #eaecf0;
  font-size: 14px;
  font-weight: 500;
  color: #667085;
  cursor: pointer;
}

.operate-save {
  margin-left: 8px;
  border-color: #155eef;
  background-color: #155eef;
  color: #ffffff;
}