.appIcon {
  width: 32px;
  height: 32px;
  background: url(./icons/app-icon.svg) center center no-repeat;
  background-size: contain;
}

.starIcon {
  width: 16px;
  height: 16px;
  background: url(./icons/star.svg) center center no-repeat;
  background-size: contain;
}