{
  "sources": [
    {
      "name": "UserControlled",
      "comment": "Data controlled by an HTTP client"
    },
    {
      "name": "DataFromInternet",
      "comment": "Data returned by an external service"
    }
  ],
  "sinks": [
    {
      "name": "RemoteCodeExecution",
      "comment": "Code interpreted by an execution engine"
    },
    {
      "name": "ServerSideTemplateInjection",
      "comment": "A template interpreted by a server-side rendering engine"
    }
  ],
  "features": [],
  "rules": [
    {
      "name": "User-controlled data to code execution",
      "code": 5001,
      "sources": [
        "UserControlled",
        "DataFromInternet"
      ],
      "sinks": [
        "RemoteCodeExecution"
      ],
      "message_format": "Data from [{$sources}] may reach [{$sinks}]"
    },
    {
      "name": "User-controlled server-side template",
      "code": 6073,
      "sources": [
        "UserControlled",
        "DataFromInternet"
      ],
      "sinks": [
        "ServerSideTemplateInjection"
      ],
      "message_format": "Data from [{$sources}] may reach [{$sinks}]"
    }
  ]
}
