{
  "swagger": "2.0",
  "info": {
    "title": "TiDB Cloud Serverless Open API",
    "description": "TiDB Cloud Serverless Open API",
    "version": "v1beta1"
  },
  "tags": [
    {
      "name": "ServerlessService"
    }
  ],
  "host": "serverless.tidbapi.com",
  "basePath": "/v1beta1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/clusters": {
      "get": {
        "summary": "Provides a list of TiDB Serverless clusters in a project.",
        "operationId": "ServerlessService_ListClusters",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/tidb_cloud_open_apiserverlessv1beta1ListClustersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of clusters to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageToken",
            "description": "Optional. The page token from the previous response for pagination.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "description": "Optional. The filter expression to filter clusters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "description": "Optional. The order by expression for sorting clusters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "skip",
            "description": "The number of individual resources to skip before starting to return results.\nIf the skip value causes the cursor to move past the end of the collection,\nthe response will be 200 OK with an empty result set and no next_page_token.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "ServerlessService"
        ]
      },
      "post": {
        "summary": "Creates a new TiDB Serverless cluster.",
        "operationId": "ServerlessService_CreateCluster",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/tidb_cloud_open_apiserverlessv1beta1Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster",
            "description": "Required. The cluster to be created.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/tidb_cloud_open_apiserverlessv1beta1Cluster",
              "required": [
                "cluster"
              ]
            }
          }
        ],
        "tags": [
          "ServerlessService"
        ]
      }
    },
    "/clusters/{clusterId}": {
      "get": {
        "summary": "Retrieves details of a specific TiDB Serverless cluster.",
        "operationId": "ServerlessService_GetCluster",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/tidb_cloud_open_apiserverlessv1beta1Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster to be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "view",
            "description": "Optional. The level of detail to return for the cluster.\n\n - BASIC: Only basic information about the cluster is returned.\n - FULL: All details about the cluster are returned.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "BASIC",
              "FULL"
            ]
          }
        ],
        "tags": [
          "ServerlessService"
        ]
      },
      "delete": {
        "summary": "Deletes a specific TiDB Serverless cluster.",
        "operationId": "ServerlessService_DeleteCluster",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/tidb_cloud_open_apiserverlessv1beta1Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster to be deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServerlessService"
        ]
      }
    },
    "/clusters/{cluster.clusterId}": {
      "patch": {
        "summary": "Partially updates a specific TiDB Serverless cluster.",
        "operationId": "ServerlessService_PartialUpdateCluster",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/tidb_cloud_open_apiserverlessv1beta1Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster.clusterId",
            "description": "Output_only. The unique ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerlessServicePartialUpdateClusterBody"
            }
          }
        ],
        "tags": [
          "ServerlessService"
        ]
      }
    },
    "/clusters/{clusterId}/password": {
      "put": {
        "summary": "Changes the root password of a specific TiDB Serverless cluster.",
        "operationId": "ServerlessService_ChangeRootPassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1ChangeRootPasswordResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster for which the password is to be changed.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerlessServiceChangeRootPasswordBody"
            }
          }
        ],
        "tags": [
          "ServerlessService"
        ]
      }
    },
    "/regions": {
      "get": {
        "summary": "Provides a list of available regions for TiDB Serverless clusters.",
        "operationId": "ServerlessService_ListRegions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/tidb_cloud_open_apiserverlessv1beta1ListRegionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "ServerlessService"
        ]
      }
    }
  },
  "definitions": {
    "ClusterSpendingLimit": {
      "type": "object",
      "properties": {
        "monthly": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum monthly spending limit in USD cents."
        }
      },
      "description": "Message for spending limit configuration."
    },
    "EndpointsPrivate": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "Output_only. The hostname of the private endpoint.",
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Output_only. The port of the private endpoint.",
          "readOnly": true
        },
        "aws": {
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/PrivateAWS"
            }
          ]
        },
        "gcp": {
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/PrivateGCP"
            }
          ]
        }
      },
      "description": "Message for private endpoint to securely connect to the cluster."
    },
    "EndpointsPublic": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "Output_only. The hostname of the public endpoint.",
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Output_only. The port of the public endpoint.",
          "readOnly": true
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the public endpoint is disabled."
        }
      },
      "description": "Message for public endpoint to connect to the cluster."
    },
    "PrivateAWS": {
      "type": "object",
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "Output_only. The AWS service name for private access.",
          "readOnly": true
        },
        "availabilityZone": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output_only. The availability zones that the service is available in.",
          "readOnly": true
        }
      },
      "description": "Message for AWS PrivateLink information."
    },
    "PrivateGCP": {
      "type": "object",
      "properties": {
        "serviceAttachmentName": {
          "type": "string",
          "description": "Output_only. The target GCP service attachment name for private access.",
          "readOnly": true
        }
      },
      "description": "Message for GCP Private Service information."
    },
    "ServerlessServiceChangeRootPasswordBody": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "Required. The new root password for the cluster."
        }
      },
      "description": "Message for requesting to change the root password of a TiDB Serverless cluster.",
      "required": [
        "password"
      ]
    },
    "ServerlessServicePartialUpdateClusterBody": {
      "type": "object",
      "properties": {
        "cluster": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Output_only. The unique name of the cluster.",
              "readOnly": true
            },
            "displayName": {
              "type": "string",
              "description": "Required. User friendly display name of the cluster."
            },
            "region": {
              "description": "Required. Region where the cluster will be created.",
              "allOf": [
                {
                  "$ref": "#/definitions/commonv1beta1Region"
                }
              ]
            },
            "spendingLimit": {
              "description": "Optional. The spending limit for the cluster.",
              "allOf": [
                {
                  "$ref": "#/definitions/ClusterSpendingLimit"
                }
              ]
            },
            "version": {
              "type": "string",
              "description": "Output_only. The TiDB version of the cluster.",
              "readOnly": true
            },
            "createdBy": {
              "type": "string",
              "description": "Output_only. The email of the creator of the cluster.",
              "readOnly": true
            },
            "automatedBackupPolicy": {
              "description": "Optional. Automated backup policy to set on the cluster.",
              "allOf": [
                {
                  "$ref": "#/definitions/v1beta1ClusterAutomatedBackupPolicy"
                }
              ]
            },
            "userPrefix": {
              "type": "string",
              "description": "Output_only. The unique prefix in SQL user name.",
              "readOnly": true
            },
            "endpoints": {
              "description": "Optional. The endpoints for connecting to the cluster.",
              "allOf": [
                {
                  "$ref": "#/definitions/v1beta1ClusterEndpoints"
                }
              ]
            },
            "state": {
              "description": "Output_only. The current state of the cluster.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/definitions/commonv1beta1ClusterState"
                }
              ]
            },
            "usage": {
              "description": "Output_only. Usage details of the cluster.",
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/definitions/v1beta1ClusterUsage"
                }
              ]
            },
            "encryptionConfig": {
              "description": "Optional. Encryption settings for the cluster.",
              "allOf": [
                {
                  "$ref": "#/definitions/v1beta1ClusterEncryptionConfig"
                }
              ]
            },
            "labels": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "description": "Optional. The labels for the cluster.\ntidb.cloud/organization. The label for the cluster organization id.\ntidb.cloud/project. The label for the cluster project id."
            },
            "annotations": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "description": "OUTPUT_ONLY. The annotations for the cluster.\ntidb.cloud/has-set-password. The annotation for whether the cluster has set password.\ntidb.cloud/available-features. The annotation for the available features of the cluster.",
              "readOnly": true
            },
            "createTime": {
              "type": "string",
              "format": "date-time",
              "description": "Output_only. Timestamp when the cluster was created.",
              "readOnly": true
            },
            "updateTime": {
              "type": "string",
              "format": "date-time",
              "description": "Output_only. Timestamp when the cluster was last updated.",
              "readOnly": true
            }
          },
          "description": "Required. The cluster to be updated.",
          "title": "Required. The cluster to be updated."
        },
        "updateMask": {
          "type": "string",
          "description": "Required. The update mask indicating which fields are to be updated."
        }
      },
      "description": "Message for requesting a partial update on a TiDB Serverless cluster.",
      "required": [
        "displayName",
        "region",
        "updateMask"
      ]
    },
    "commonv1beta1ClusterState": {
      "type": "string",
      "enum": [
        "CREATING",
        "DELETING",
        "ACTIVE",
        "RESTORING",
        "MAINTENANCE",
        "DELETED",
        "INACTIVE",
        "UPGRADING",
        "IMPORTING",
        "MODIFYING",
        "PAUSING",
        "PAUSED",
        "RESUMING"
      ],
      "description": "Enum of possible states of a cluster.\n\n - CREATING: Cluster is being created.\n - DELETING: Cluster is being deleted.\n - ACTIVE: Cluster is active for use.\n - RESTORING: Cluster data is being restored.\n - MAINTENANCE: Cluster is under maintenance.\n - DELETED: Cluster has been deleted.\n - INACTIVE: Cluster is not active, but not being deleted.\n - UPGRADING: Cluster is being updated.\nOnly for Dedicated Cluster.\n - IMPORTING: Cluster is being imported.\nOnly for Dedicated Cluster.\n - MODIFYING: Cluster is being modified.\nOnly for Dedicated Cluster.\n - PAUSING: Cluster is being paused.\nOnly for Dedicated Cluster.\n - PAUSED: Cluster is paused.\nOnly for Dedicated Cluster.\n - RESUMING: Cluster is resuming.\nOnly for Dedicated Cluster."
    },
    "commonv1beta1Region": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "regions/aws-us-west-2",
          "title": "The unique name of the region.\nFormat: regions/{region_id}",
          "pattern": "^regions/(aws|gcp|azure)-(.+)$"
        },
        "regionId": {
          "type": "string",
          "description": "Format: {cloud_provider}-{region_code}\nRegion code: us-west-2, asia-east1.",
          "readOnly": true
        },
        "cloudProvider": {
          "description": "The cloud provider for the region.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/v1beta1RegionCloudProvider"
            }
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name of the region.",
          "readOnly": true
        },
        "provider": {
          "type": "string",
          "x-nullable": true,
          "description": "Optional provider name for the region.\nOnly used for serverless cluster.\nDeprecated.",
          "readOnly": true
        }
      },
      "description": "A representation of a region for deploying TiDB clusters."
    },
    "googlerpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "serverlessv1beta1ClusterView": {
      "type": "string",
      "enum": [
        "BASIC",
        "FULL"
      ],
      "description": "Enum for the different types of detail view to be returned for a TiDB Serverless cluster.\n\n - BASIC: Only basic information about the cluster is returned.\n - FULL: All details about the cluster are returned."
    },
    "tidb_cloud_open_apiserverlessv1beta1Cluster": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output_only. The unique name of the cluster.",
          "readOnly": true
        },
        "clusterId": {
          "type": "string",
          "description": "Output_only. The unique ID of the cluster.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. User friendly display name of the cluster."
        },
        "region": {
          "description": "Required. Region where the cluster will be created.",
          "allOf": [
            {
              "$ref": "#/definitions/commonv1beta1Region"
            }
          ]
        },
        "spendingLimit": {
          "description": "Optional. The spending limit for the cluster.",
          "allOf": [
            {
              "$ref": "#/definitions/ClusterSpendingLimit"
            }
          ]
        },
        "version": {
          "type": "string",
          "description": "Output_only. The TiDB version of the cluster.",
          "readOnly": true
        },
        "createdBy": {
          "type": "string",
          "description": "Output_only. The email of the creator of the cluster.",
          "readOnly": true
        },
        "automatedBackupPolicy": {
          "description": "Optional. Automated backup policy to set on the cluster.",
          "allOf": [
            {
              "$ref": "#/definitions/v1beta1ClusterAutomatedBackupPolicy"
            }
          ]
        },
        "userPrefix": {
          "type": "string",
          "description": "Output_only. The unique prefix in SQL user name.",
          "readOnly": true
        },
        "endpoints": {
          "description": "Optional. The endpoints for connecting to the cluster.",
          "allOf": [
            {
              "$ref": "#/definitions/v1beta1ClusterEndpoints"
            }
          ]
        },
        "state": {
          "description": "Output_only. The current state of the cluster.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/commonv1beta1ClusterState"
            }
          ]
        },
        "usage": {
          "description": "Output_only. Usage details of the cluster.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/v1beta1ClusterUsage"
            }
          ]
        },
        "encryptionConfig": {
          "description": "Optional. Encryption settings for the cluster.",
          "allOf": [
            {
              "$ref": "#/definitions/v1beta1ClusterEncryptionConfig"
            }
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels for the cluster.\ntidb.cloud/organization. The label for the cluster organization id.\ntidb.cloud/project. The label for the cluster project id."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "OUTPUT_ONLY. The annotations for the cluster.\ntidb.cloud/has-set-password. The annotation for whether the cluster has set password.\ntidb.cloud/available-features. The annotation for the available features of the cluster.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "date-time",
          "description": "Output_only. Timestamp when the cluster was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Output_only. Timestamp when the cluster was last updated.",
          "readOnly": true
        }
      },
      "description": "Message for a serverless TiDB cluster resource.",
      "required": [
        "displayName",
        "region"
      ]
    },
    "tidb_cloud_open_apiserverlessv1beta1ListClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/tidb_cloud_open_apiserverlessv1beta1Cluster"
          },
          "description": "A list of clusters."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token provided to retrieve the next page of results."
        },
        "totalSize": {
          "type": "integer",
          "format": "int64",
          "description": "Total number of available clusters."
        }
      },
      "description": "Responses message to the request for listing of TiDB Serverless clusters."
    },
    "tidb_cloud_open_apiserverlessv1beta1ListRegionsResponse": {
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/commonv1beta1Region"
          },
          "description": "A list of available regions."
        }
      },
      "description": "Responses message to the request for listing of available regions in TiDB Serverless."
    },
    "v1beta1ChangeRootPasswordResponse": {
      "type": "object",
      "description": "Responses message to the request for changing the root password of a TiDB Serverless cluster."
    },
    "v1beta1ClusterAutomatedBackupPolicy": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Cron expression for when automated backups should start."
        },
        "retentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of days to retain automated backups."
        }
      },
      "description": "Message for automated backup configuration for a cluster."
    },
    "v1beta1ClusterEncryptionConfig": {
      "type": "object",
      "properties": {
        "enhancedEncryptionEnabled": {
          "type": "boolean",
          "description": "Optional. Whether enhanced encryption for cluster data is enabled."
        }
      },
      "description": "Message for encryption settings for a cluster."
    },
    "v1beta1ClusterEndpoints": {
      "type": "object",
      "properties": {
        "public": {
          "description": "Optional. Public endpoint to connect to the cluster.",
          "allOf": [
            {
              "$ref": "#/definitions/EndpointsPublic"
            }
          ]
        },
        "private": {
          "description": "Output_only. Private endpoint to securely connect to the cluster.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/EndpointsPrivate"
            }
          ]
        }
      },
      "description": "Message for endpoint information for connecting to a cluster."
    },
    "v1beta1ClusterUsage": {
      "type": "object",
      "properties": {
        "requestUnit": {
          "type": "string",
          "format": "int64",
          "description": "Output_only. The Request Units used in this month.",
          "readOnly": true
        },
        "rowBasedStorage": {
          "type": "number",
          "format": "double",
          "description": "Output_only. The storage used on row-based storage in bytes.",
          "readOnly": true
        },
        "columnarStorage": {
          "type": "number",
          "format": "double",
          "description": "Output_only. The storage used on column-based storage in bytes.",
          "readOnly": true
        }
      },
      "description": "Message for usage statistics of a cluster."
    },
    "v1beta1RegionCloudProvider": {
      "type": "string",
      "enum": [
        "aws",
        "gcp",
        "azure"
      ],
      "description": "Enum of cloud provider names.\n\n - aws: Amazon Web Services.\nbuf:lint:ignore ENUM_VALUE_UPPER_SNAKE_CASE\n - gcp: Google Cloud Platform.\nbuf:lint:ignore ENUM_VALUE_UPPER_SNAKE_CASE\n - azure: Microsoft Azure.\nbuf:lint:ignore ENUM_VALUE_UPPER_SNAKE_CASE"
    }
  }
}
