.textGradient {
  background: linear-gradient(92deg, #19191a -29.55%, #343738 75.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}