.advancedPromptMode {
  position: relative;
}

.advancedPromptMode::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 3px;
  background-color: rgba(68, 76, 231, 0.18);
  transform: skewX(-30deg);
}