aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.2
alibabacloud-gpdb20160503==3.8.0
alibabacloud-openplatform20191219==2.0.0
alibabacloud-tea==0.3.9
alibabacloud_credentials==0.3.5
alibabacloud_endpoint_util==0.0.3
alibabacloud_gateway_spi==0.0.2
alibabacloud_openapi_util==0.2.2
alibabacloud_oss_sdk==0.1.0
alibabacloud_oss_util==0.0.6
alibabacloud_tea_fileform==0.0.5
alibabacloud_tea_openapi==0.3.9
alibabacloud_tea_util==0.3.13
alibabacloud_tea_xml==0.0.2
aliyun-python-sdk-core==2.15.2
aliyun-python-sdk-kms==2.16.5
amqp==5.2.0
aniso8601==9.0.1
annotated-types==0.7.0
anthropic==0.23.1
anyio==4.4.0
arxiv==2.1.0
asgiref==3.8.1
attrs==23.2.0
Authlib==1.3.1
azure-ai-formrecognizer==3.2.0
azure-ai-inference==1.0.0b3
azure-ai-ml==1.19.0
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.16.1
azure-mgmt-core==1.4.0
azure-storage-blob==12.13.0
azure-storage-file-datalake==12.8.0
azure-storage-file-share==12.17.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.2
billiard==4.2.0
blinker==1.8.2
boto3==1.34.148
botocore==1.34.162
Brotli==1.1.0
bs4==0.0.1
build==1.2.1
cachetools==5.3.0
celery==5.3.6
certifi==2024.8.30
cffi==1.17.1
chardet==5.1.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.5.1
circuitbreaker==2.0.0
click==8.1.7
click-default-group==1.2.4
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clickhouse-connect==0.7.16
cloudpickle==2.2.1
cloudscraper==1.2.71
cohere==5.2.4
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
cos-python-sdk-v5==1.9.30
coverage==7.2.4
crcmod==1.7
cryptography==42.0.8
cssselect==1.2.0
cycler==0.12.1
dashscope==1.17.0
dataclass-wizard==0.22.3
dataclasses==0.6
dataclasses-json==0.6.7
datasets==2.21.0
Deprecated==1.2.14
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
docker==7.1.0
docstring_parser==0.16
dotenv-linter==0.5.0
duckduckgo_search==6.2.6
elastic-transport==8.15.0
elasticsearch==8.14.0
emoji==2.12.1
environs==9.5.0
esdk-obs-python==3.24.6.1
et-xmlfile==1.1.0
fastapi==0.113.0
fastavro==1.9.6
fasttext-predict==0.9.2.2
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.15.4
filetype==1.2.0
Flask==3.0.1
flask-babel==4.0.0
Flask-Compress==1.14
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-RESTful==0.3.10
flask-sock==0.7.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.53.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.6.1
gevent==23.9.1
gguf==0.9.1
gmpy2==2.2.1
google-ai-generativelanguage==0.6.1
google-api-core==2.18.0
google-api-python-client==2.90.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.49.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.16.0
google-crc32c==1.6.0
google-generativeai==0.5.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpc-google-iam-v1==0.13.1
grpcio==1.63.0
grpcio-status==1.62.3
grpcio-tools==1.62.3
gunicorn==22.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-socks==0.9.1
huggingface-hub==0.24.6
humanfriendly==10.0
hyperframe==6.0.1
idna==3.8
importlib-metadata==6.11.0
importlib_resources==6.4.4
iniconfig==2.0.0
interegular==0.3.3
isodate==0.6.1
itsdangerous==2.2.0
jieba==0.42.1
jieba3k==0.35.1
Jinja2==3.1.4
jiter==0.5.0
jmespath==0.10.0
joblib==1.4.2
jsonpath-ng==1.6.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kaleido==0.2.1
kiwisolver==1.4.7
kombu==5.4.0
kubernetes==30.1.0
langdetect==1.0.9
langfuse==2.36.1
langsmith==0.1.77
lark==1.2.2
llvmlite==0.43.0
lm-format-enforcer==0.10.6
lxml==5.3.0
lz4==4.3.3
mailchimp-transactional==1.0.50
Mako==1.3.5
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.8.2
mdurl==0.1.2
milvus-lite==2.4.9
mistral_common==1.3.4
mmh3==4.1.0
mock==4.0.3
monotonic==1.6
mpmath==1.3.0
msal==1.30.0
msal-extensions==1.2.0
msgpack==1.0.8
msgspec==0.18.6
msrest==0.7.1
multidict==6.0.5
multiprocess==0.70.16
multitasking==0.0.11
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
newspaper3k==0.2.8
nltk==3.8.1
novita_client==0.5.7
numba==0.60.0
numexpr==2.9.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
oci==2.133.0
onnxruntime==1.19.2
openai==1.40.0
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
openpyxl==3.1.5
opensearch-py==2.4.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
oracledb==2.2.1
orjson==3.10.7
oss2==2.18.5
outlines==0.0.46
overrides==7.7.0
packaging==23.2
pandas==2.2.2
partial-json-parser==0.2.1.1.post4
pathos==0.3.2
peewee==3.17.6
pgvecto-rs==0.2.1
pgvector==0.2.5
pillow==10.4.0
platformdirs==4.2.2
plotly==5.24.0
pluggy==1.5.0
ply==3.11
portalocker==2.10.1
posthog==3.6.3
pox==0.3.4
ppft==1.7.6.8
primp==0.6.1
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
psycopg2-binary==2.9.6
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.19.1
pydantic==2.8.2
pydantic-extra-types==2.9.0
pydantic-settings==2.4.0
pydantic_core==2.20.1
pydash==8.0.3
Pygments==2.18.0
PyJWT==2.8.0
pymilvus==2.4.4
pyOpenSSL==24.2.1
pyparsing==3.1.4
pypdfium2==4.17.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.1.0
pytest==8.3.2
pytest-benchmark==4.0.0
pytest-env==1.1.3
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.0
python-iso639==2024.4.27
python-magic==0.4.27
python-socks==2.5.1
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.2.0
qdrant-client==1.7.3
qrcode==7.4.2
rank-bm25==0.2.2
rapidfuzz==3.9.7
ray==2.35.0
readabilipy==0.2.0
redis==5.0.3
referencing==0.35.1
regex==2024.7.24
replicate==0.22.0
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resend==0.7.0
rich==13.8.0
rpds-py==0.20.0
rsa==4.9
ruff==0.6.1
s3transfer==0.10.2
safetensors==0.4.3
sagemaker==2.231.0
sagemaker-core==1.0.3
schema==0.7.7
scikit-learn==1.5.1
scipy==1.14.1
sentencepiece==0.2.0
sentry-sdk==1.44.1
sgmllib3k==1.0.0
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
smdebug-rulesconfig==1.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.29
sqlparse==0.5.1
starlette==0.38.4
strictyaml==1.7.3
sympy==1.13.2
tabulate==0.9.0
tblib==3.0.0
tcvectordb==1.3.2
tenacity==9.0.0
tencentcloud-sdk-python-common==3.0.1158
tencentcloud-sdk-python-hunyuan==3.0.1158
threadpoolctl==3.5.0
tidb-vector==0.0.9
tiktoken==0.7.0
tinysegmenter==0.3
tldextract==5.1.2
tokenizers==0.19.1
toml==0.10.2
torch==2.4.0
torchvision==0.19.0
tos==2.7.1
tqdm==4.66.5
transformers==4.44.2
triton==3.0.0
twilio==9.0.4
typer==0.12.5
types-requests==2.32.0.20240905
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
unstructured==0.10.27
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.30.6
uvloop==0.20.0
validators==0.21.0
vanna==0.5.5
vine==5.1.0
vllm==0.6.0
vllm-flash-attn==2.6.1
volcengine-python-sdk==1.0.98
watchfiles==0.24.0
wcwidth==0.2.13
weaviate-client==3.21.0
webencodings==0.5.1
websocket-client==1.7.0
websockets==13.0.1
Werkzeug==3.0.1
wikipedia==1.4.0
wrapt==1.16.0
wsproto==1.2.0
xformers==0.0.27.post2
xinference-client==0.13.3
xmltodict==0.13.0
xxhash==3.5.0
yarl==1.9.4
yfinance==0.2.40
zhipuai==1.0.7
zipp==3.20.1
zope.event==5.0
zope.interface==7.0.3
zstandard==0.23.0
