name: Build and Push in ship.kinoplan24.ru

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  IMAGE_NAMESPACE: teamc

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        include:
          - component: api
            context: api
            dockerfile: api/Dockerfile

          - component: web
            context: web
            dockerfile: web/Dockerfile

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Используем секрет REGISTRY_URL для адреса
      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          # Собираем полный путь: сервер/проект/компонент
          images: ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAMESPACE }}/${{ matrix.component }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha,prefix=sha-,format=short

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
