name: Style check

on:
  pull_request:
    branches:
      - main

concurrency:
  group: dep-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  python-style:
    name: Python Style
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Python dependencies
        run: pip install ruff

      - name: Ruff check
        run: ruff check ./api

      - name: Lint hints
        if: failure()
        run: echo "Please run 'dev/reformat' to fix the fixable linting errors."

  test:
    name: ESLint and SuperLinter
    runs-on: ubuntu-latest
    needs: python-style

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: ./web/package.json

      - name: Web dependencies
        run: |
          cd ./web
          yarn install --frozen-lockfile

      - name: Web style check
        run: |
          cd ./web
          yarn run lint

      - name: Super-linter
        uses: super-linter/super-linter/slim@v6
        env:
          BASH_SEVERITY: warning
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IGNORE_GENERATED_FILES: true
          IGNORE_GITIGNORED_FILES: true
          VALIDATE_BASH: true
          VALIDATE_BASH_EXEC: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_DOCKERFILE_HADOLINT: true
          VALIDATE_YAML: true
