name: Run Tool Pytest

on:
  push:
    # only trigger on branches, not on tags
    branches: '**'
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: ./api/requirements.txt

      - name: Install dependencies
        run: pip install -r ./api/requirements.txt

      - name: Run pytest
        run: |
          export PYTHONPATH=$(pwd)/api:$PYTHONPATH
          pytest ./api/tests/integration_tests/tools/
